// Fonts
$main-font: 'Poppins', sans-serif;
$second-font: 'Roboto', sans-serif;

// Colors
$light-primary-color: rgb(255, 255, 255);
$dark-primary-color: rgb(32, 32, 37);

$second-text-color: rgb(95, 103, 117);

$accent-color: rgb(253, 81, 3);
$light-accent-color: rgb(254, 112, 49);