<section class=" gallery container section">
    <div class="loader"></div>
        <h2 class="gallery__title">Cocktails</h2>
        <ul class="gallery__list">
            <!-- <li class="gallery__item">
                <img class="gallery__img" src="./images/Vampiro.jpg" alt="" width="280" height="280" />
                <div class="gallery__card">
                    <h3 class="gallery__card-title">Negroni</h3>
                    <div class="gallery__card-btns">
                        <button class="btn__learn">Learn more</button>
                        <button class="btn__add">
                            Add to
                            <svg class="btn__svg" width="18" height="18">
                                <use href="./images/symbol-defs.svg#icon-Heart-mobile"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </li> -->
        </ul>
        <script></script>
</section>