<section class="hero container">
    <div class="hero__box">
        <h1 class="hero-title">A party without cocktails <br>
            is not like a party</h1>
        <span class="hero-text">Search your favorite cocktail by ABC </span>
        <ul class="hero-list">
            <div class=" hero-div is-hiden">
                <div class="hero-boxList"> <span class="hero-span ">A</span>
                    <svg class="hero-svg">
                        <use href="/src/images/Vector.svg#vector-svg"></use>
                    </svg>
                </div>
                <div class="hero-list__ul is-hiden-select">
                    <ul class="hero-select"></ul>
                    <div class="hero-list__ulItem"></div>
                </div>
            </div>
        </ul>
    </div>

</section>