.switcher-container {
  display: none;
  margin-bottom: 51px;

  gap: 12px;
  width: 148px;
  height: 24px;

  @include desktop {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  & > span {
    font-size: 18px;
    line-height: 24px;

    &.light {
      color: var(--color-accent);
    }
    &.dark {
      color: var(--color-switch-dark);
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $accent-color;
    }

    &:focus + .slider {
      box-shadow: 0 0 2px $accent-color;
    }

    &:checked + .slider:before {
      transform: translateX(20px);
      background: var(--color-accent);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 0.6px solid $accent-color;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 1px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: $accent-color;

    transition: 0.4s;
  }
  &.round {
    border-radius: 34px;
    border: 1px solid var(--color-accent);

    &:before {
      border-radius: 50%;
    }
  }
}
