.gallery {
  text-align: center;

  &.section {
    padding-top: 60px;
  }

  &__title {
    margin: 0 auto 60px;
    width: 100%;
    color: #202025;
    font-size: 22px;
    line-height: 1.9;
    font-weight: 600;

    @include tablet {
      width: 331px;
      font-family: 'Roboto';
      font-size: 32px;
      line-height: 1.31;
      font-weight: 700;
    }

    @include desktop {
      width: 493px;
      font-family: 'Poppins';
      font-size: 48px;
      line-height: 1.5;
      font-weight: 700;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;

    @include tablet {
      gap: 32px;
    }
  }

  &__item {
    border: 1px solid $accent-color;
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    @include tablet {
      width: calc((100% - 32px) / 2);

    }
    @include desktop {
      width: calc((100% - 64px) / 3);
    }
  }
 .coctail-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    margin-bottom: 48px;
    width: 100%;
    object-fit: cover;

    @include tablet {
      margin-bottom: 20px;
      height: 395px;
    }
  }

  &__card{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__card-title {
    margin-bottom: 16px;
    color: #202025;
    font-family: 'Roboto';
    font-size: 26px;
    line-height: 1.6;
    font-weight: 900;

    @include tablet {
      margin-bottom: 23px;
      font-size: 28px;
    }
    @include desktop {
      margin-bottom: 27px;
      font-size: 32px;
    }
  }

  &__card-btns {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 24px;
    @include tablet {
      margin-bottom: 20px;
    }

    @include desktop {
      margin-bottom: 28px;
    }
  }
}

.btn__learn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcfcfc;
  min-width: 108px;
  min-height: 39px;
  border: none;
  background-color: #fe7031;
  border-radius: 4px;
  font-family: 'Roboto';

  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.02em;

  @include tablet {
    width: 160px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
  }

  @include desktop {
    width: 182px;
    height: 48px;
  }
}

.btn__add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 16px;
  min-width: 108px;
  min-height: 39px;
  text-align: start;
  border: 1px solid $accent-color;
  border-radius: 4px;
  color: $accent-color;
  background: #fcfcfc;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;

  @include tablet {
    width: 123px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
  }

  @include desktop {
    width: 141px;
    height: 48px;
  }
}

.coctails-section__coctails-img-div {
  margin: 0 auto;
}
