.header-section {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 7px;

  background-color: var(--color-primary);
  border-bottom: 1px solid var(--color-backdrop-bg);
}

.header-wrap {
  @include flex(space-between);

  & .auth {
    display: flex;
    padding: 0;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
      border-radius: 4px;
      outline: none;
      box-shadow: 0 0 3px $accent-color;
    }

    & .icon-signout {
      display: none;
    }
    &.is-active .icon-signin {
      display: none;
    }

    &.is-active .icon-signout {
      display: block;
    }
  }
}

.nav {
  @include flex(space-between);
  margin-right: 100px;
}

.search-wrap {
  @include flex(space-between);
  gap: 40px;

  & .menu-btn {
    fill: var(--color-text);
  }
}

.search-form {
  display: none;

  @include tablet {
    @include flex(center);
    width: 288px;
    height: 40px;
    padding: 0;

    border: 1px solid $accent-color;
    border-radius: 4px;
  }
}

.searchQuery {
  background-color: transparent;
  color: $second-text-color;
  width: 100%;
  height: 100%;
  border: none;
  padding: 8px 0 8px 8px;
  margin: 0;

  &:hover,
  &:focus {
    outline: none;
    border: 2px solid $light-accent-color;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &::placeholder {
    font-style: $main-font;
    color: rgba(95, 103, 117, 0.5);
    font-size: 14px;
    line-height: 2;
  }
}

.nav-list {
  display: none;

  @include desktop {
    @include flex(space-between);
    margin-left: 43px;
  }
}

.nav-item:last-child {
  position: relative;
  margin-left: 60px;

  & button {
    display: flex;
    align-items: flex-end;
    padding: 19px 0 0 0;

    background-color: inherit;
    border: none;
    outline: none;

    font-family: $main-font;
    font-size: 18px;
    line-height: 1.33;
    color: var(--color-text);

    &:focus {
      color: $accent-color;
      outline: none;
    }

    & svg {
      @include desktop {
        display: none;
      }
    }
  }

  &.is-open .favorites-list {
    display: block;
  }
}

.nav-link {
  display: block;
  padding-top: 19px;
  padding-bottom: 0;

  font-family: $main-font;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-text);

  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
}

.favorites-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 210px;
  margin: 0;

  background-color: var(--color-primary);
  border: 1px solid $accent-color;
  border-radius: 4px;

  & li {
    margin: 0;
    padding: 12px;

    font-family: $main-font;
    font-size: 18px;
    line-height: 1.33;
    color: var(--color-text);

    &:hover,
    &:focus {
      color: var(--color-primary);
      background-color: $accent-color;
    }
  }

  & a {
    width: 100%;
    outline: none;
    color: var(--color-text);

    &:hover,
    &:focus {
      color: var(--color-primary);
      background-color: $accent-color;
    }
  }
}
