.hero {
  font-family: var($main-font);
  padding-top: 0;

  @include mq(mob) {
    padding-bottom: 40px;
  }
  @include mq(tab) {
    padding-bottom: 60px;
  }
}

.hero-container {
  @include mq(mob-only) {
    text-align: center;
  }
  @include mq(tab) {
    display: flex;
    justify-content: space-between;
  }
}

.hero-wrapper {
  @include mq(tab-only) {
    margin-right: 40px;
    padding-top: 132px;
    padding-bottom: 134px;
  }
  @include mq(desc) {
    margin-right: 60px;
    padding-top: 97px;
    padding-bottom: 132px;
  }
}

.hero-img {
  @include mq(tab) {
    padding-top: 68px;
  }
  @include mq(desc) {
    padding-top: 35px;
  }
}

.hero-title {
  margin-bottom: 40px;
  font-weight: 600;
  color: var($accent-color);

  @include mq(mob-only) {
    padding-top: 60px;
    font-size: 22px;
    line-height: 1.91;
  }
  @include mq(tab-only) {
    font-size: 26px;
    line-height: 1.62;
  }
  @include mq(desc) {
    font-size: 52px;
    line-height: 1.54;
  }
}
.hero-text {
  margin-bottom: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var($dark-primary-color);
  opacity: 0.8;

  @include mq(mob-only) {
    display: none;
  }
  @include mq(tab) {
    font-size: 14px;
    line-height: 2;
  }
  @include mq(desc) {
    font-size: 18px;
    line-height: 1.56;
  }
}
.hero-list {
  @include mq(mob-only) {
    display: none;
  }
  @include mq(tab) {
    width: 326px;
  }
  @include mq(desc) {
    width: 520px;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-button {
  @include mq(tab-only) {
    font-size: 14px;
    line-height: 2;
    height: 24px;
    width: 24px;
  }
  @include mq(desc) {
    font-size: 24px;
    line-height: 1.5;
    height: 40px;
    width: 40px;
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;

  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var($second-text-color);
}
.hero-button:hover,
.hero-button:focus {
  color: var($accent-color);
  cursor: pointer;
}
// ___________________________________________

.hero-wrapper-select {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(tab) {
    display: none;
  }
}
.hero-label-mob {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: var($dark-primary-color);
  opacity: 0.8;
  margin-top: 28px;
  margin-bottom: 34px;

  @include mq(tab) {
    display: none;
  }
}

.hero-select-mob {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var($light-primary-color);
  width: 93px;
  height: 34px;
  color: var($accent-color);
  text-transform: uppercase;
  border-color: var($accent-color);
  @include mq(tab) {
    display: none;
  }
}

.hero-select-mob:hover,
.hero-select-mob:focus {
  background-color: var($accent-color);
  color: var(--button-text-color);

  @include mq(tab) {
    display: none;
  }
}

.hero-option-mob {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: var($second-text-color);
  background-color: var($ligth-primary-color);
}

// ____________________________________________
.sorry {
  padding-top: 0;
}
.sorry-container {
  text-align: center;
}

.sorry-title {
  color: var($dark-primary-color);
  @include mq(mob-only) {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.91;
    margin-bottom: 63px;
  }
  @include mq(tab-only) {
    font-size: 32px;
    line-height: 1.31;
    margin-bottom: 63px;
  }
  @include mq(desc) {
    margin-bottom: 84px;
  }
}
.sorry.is-hidden {
  display: none;
}
