// html {
//     box-sizing: border-box;
//   }
  
  // *,
  // *::after,
  // *::before {
  //   box-sizing: inherit;
  // }
  
  // ul,
  // ol {
  //   padding: 0;
  // }
  
  // body,
  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6,
  // p,
  // ul,
  // ol,
  // li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
    
    // li {
    //   list-style: none;
    // }
  // .container{
  //   margin: 0 auto;
  //   // padding-left: 15px;
  //   // padding-top: 15px;
  // }
  
  
  //   body{
  // background-color: #202025;
  
  //   }
  
  .is-hiden{
    display: none;
   }
  
  .hero{
   
  &-title{
      font-family: 'Poppins';
      font-style: normal;
    
      color: $second-text-color;
    }
    &-text{
      display: block;
      font-family: 'Poppins';
      font-style: normal;
      color: $dark-primary-color;
    }
   &-list{
      justify-content: center;
    }
    &-button{
      border: 0;
      background: transparent;
      justify-content: center;
      font-family: 'Poppins';
      font-style: normal;
      align-items: center;
      color: $second-text-color;
      
    }
  }
  .coctails-section-coctailTitel{
    margin: 0 auto;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
align-items: center;
text-align: center;
    display: flex;
   justify-content: center;
  }
  
  @media screen and (min-width: 1200px){

    .coctails-section-coctailTitel{
      margin-bottom: 146px;
      width: 493px;
      font-size: 48px;
      line-height: 72px;
    }
  .container {
      width: 1200px;
  }
  .hero{
    display: flex;
    padding-top: 101px;
    padding-bottom: 60px;
    &__box {
      margin-right: auto;
     
     }
     &-container{
      width: 501px;
      height: 450px;
    background-image: url(../images/hero_desc.png);
    transform: matrix(1, 0, 0, 1, 0,-60);
    
    }
    &-title{
      display: block;
      font-weight: 600;
      font-size: 52px;
      line-height: 80px;
    }
    &-text{
      margin-top: 40;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        /* identical to box height, or 156% */
        letter-spacing: 0.02em;
      
      }
      &-list {
        margin-top: 40px;
          width: 520px;
          display: flex;
          flex-wrap: wrap;
          height: 120px;
     
        }
        &-button{
          border: 0;
          background: transparent;
          width: 40px;
          height: 40px;
          font-weight: 700;
          font-size: 24px;
          line-height: 3.6%;
          display: flex;
        }
  }

  .coctails-section__coctails-img{
    
    width: 345px;
    height: 380px;
    background-size: cover;
    background-image: url(../images/frame_desc.png);
   
   
  }
  }
  
  
  @media screen and (min-width: 768px) and (max-width: 1199px){
    .coctails-section-coctailTitel{
      margin-bottom: 62px;
      width: 331px;
      font-size: 32px;
      line-height: 42px;
    }
  .container {
      width: 768px;
  }
  .hero{
    display: flex;
    padding-top: 132px;
    padding-bottom: 60px;
  
  &__box{
    margin-right: auto;
   
   }
   &-container{
    width: 336px;
    height: 465px;
    background-size: cover;
  background-image: url(../images/hero_tab.png);
  transform: matrix(1, 0, 0, 1, 0,-65);
  
  }
   
  &-title{
    font-weight: 600;
    font-size: 26px;
    line-height: 42px;
  }
  &-text{
   
  margin-top: 40;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 156% */
    letter-spacing: 0.02em;
  
  }
  
  &-list {
    margin-top: 40px;
      width: 324px;
      display: flex;
      flex-wrap: wrap;
      height: 75px;
   
    }
 
    &-button{
      width: 24px;
      height: 25px;
      font-weight: 700;
      font-size: 14px;
      line-height: 2.1%;
      display: flex;
  }
  }
  .coctails-section__coctails-img{
    
    width: 345px;
    height: 380.74px;
    background-size: cover;
    background-image: url(../images/frame_desc.png);
   
   
  }
  }

    @media screen and (max-width: 767px){
      .coctails-section-coctailTitel{
        margin-bottom: 63px;
        width: 280px;
        font-size: 22px;
        line-height: 42px;
      }
      .container {
          width: 320px;
      }
      .hero{
        padding-top: 60px;
        padding-bottom: 40px;
    
        &-list {
          margin-top: 40px;
          }
          &-item{
            width: 24px;
            height: 25px;
     
          }
          &-title{
            margin-bottom: 28px;
            font-weight: 600;
            font-size: 22px;
            line-height: 42px;
          }
          &-text{
           
          margin-top: 28px;
          
          font-weight: 500;
          font-size: 14px;
          line-height: 28px;
            /* identical to box height, or 156% */
            letter-spacing: 0.02em;
            opacity: 0.8;
          }
        &-container{
          width: 300px;
          height: 368px;
          background-size: cover;
        background-image: url(../images/hero_tab.png);
        transform: matrix(1, 0, 0, 1, 0, 0);
        
        }
        &-div {
          display: block;
          display: flex;
      align-items: center;
      flex-direction: column;
      
          
        justify-content: center;
        }
        &-boxList{
          width: 93px;
          height: 34px;
          border: 1px solid $second-text-color;
          border-radius: 4px;
          justify-content: space-between;
          display: flex;
          flex-direction: row;
           align-items: center; 
          padding: 10px;
          box-sizing: border-box;
          fill: $accent-color;
          color:  $accent-color;

          font-family: 'Poppins';
font-style: normal;
          font-weight: 700;
font-size: 16px;
line-height: 135%;
          &:hover{

            background-color: $accent-color;
             fill: $light-primary-color;
            color:  $light-primary-color;
              }
          }
          &-select{
            margin-top: 15px;
            height: 84px;
          overflow-y: scroll;
          }
          .is-hiden-select{
            display: none;
          }
      .is-hden-select_display {
        display: flex;
      }
          .hero-select::-webkit-scrollbar{
            position: absolute;
            transform: translateX(30px);
            width: 2px;
          
          }
    
          .hero-list__ul {
          // flex-direction: row;
          border-radius: 4px;
            border: 1px solid $accent-color;
          }
    
          .hero-list__ulItem {
       
            width: 6.6px;
          }
     
          .hero-select::-webkit-scrollbar-thumb{
            background-clip: content-box;
            height: 34px;
            background: $second-text-color;
            border-radius: 4px;
          
          }
          &-item{
            width: 83px;
          height: 28px;
          
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-size: 10px;
          line-height: 1.5%;
          /* identical to box height */
          
          
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 4px 10px;
          gap: 20px;
       
          color: $second-text-color;
       
          
          
          }
          &-svg{
    width: 20px;
    height: 20px;
 
    
    &:hover {
    fill: $light-primary-color;
    }
          }
    
      }

      .coctails-section__coctails-img{
    
        width: 280px;
        height: 308px;
        background-size: cover;
        background-image: url(../images/frame_desc@2x.png);
       margin-bottom: 63px;
       
      }


      }
    
    .is-hden{
      display: none;
    }
  
    .is-hover{
      color: $accent-color;
     }
 
    .coctails-section-hover{
      display: flex;
      justify-content: center
    }
